.actualizar {
    height: 3rem;
    margin: 0.5rem;
    font-size: 2rem;
}

.dropDown
{
    display:block;
}

.father
{
    width:60%;
    text-align: center;
    margin: 15px auto;
}

.ShowTime
{
    font-size: 3em;

}