<div *ngIf="alerts!=null; else espera" class="father">


  <button mat-raised-button (click)="alertToShow()" class="actualizar">Buscar Incidencias </button>

    <div *ngFor="let art of showAlerts" class= "showAler">
    <h3>La linea : {{art.lineName | lineletter }}</h3>
    <p>{{art.description}}</p>
    </div>
  

</div>
<ng-template #espera>Esperando datos...</ng-template>
<!--
<table border="1">
  <tr>
    <td>Codigo</td>
    <td>Descripcion</td>
    <td>Precio</td>
  </tr>
  <tr *ngFor="let art of alerts">
    <td>{{art.cause}}</td>
    <td>{{art.effect}}</td>
    <td>{{art.precio}}</td>
  </tr>
</table>
<table border="1">
  <tr>
    <td>Codigo</td>
    <td>Descripcion</td>
    <td>Precio</td>
  </tr>
  <tr *ngFor="let art of lines">
    <td>{{art.Route_Id}}</td>
    <td>{{art.Direction_ID}}</td>
    <td>{{art.direction_Description}}</td>
  </tr>
</table>-->