<div *ngIf="states!=null; else espera" class="father">


  <mat-form-field class="dropDown">
    <mat-select placeholder="Lineas" [(ngModel)]="selectedLine" name="lineas" (selectionChange)="selecteLine()">
      <mat-option *ngFor="let op of showLines" [value]="op">
        {{op | lineletter }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="dropDown">
    <mat-select placeholder="Estaciones" [(ngModel)]="selectedStation" name="estaciones">
      <mat-option *ngFor="let op of showStation" [value]="op">
        {{op}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="dropDown">
    <mat-select placeholder="Direccion" [(ngModel)]="selectedDirection" name="direccion">
      <mat-option *ngFor="let op of showDirections" [value]="op.Direction_ID">
        {{op.direction_Description}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div>
    <!-- <button mat-raised-button (click)="linesToShow()" class="actualizar">Actualizar</button>-->

    <button mat-raised-button (click)="find()" class="actualizar">Buscar</button>
  </div>
  <div *ngIf="showTime!=='';">
    <p>La porxima formacion arribara a las:</p>
    <p class="ShowTime">{{showTime | dateFormater }} hs </p>
  </div>
</div>
<!--<p>{{lines}}</p>
  
  <input type="text" [(ngModel)]="selectedLine">-->
<!-- <table border="1">
    <tr>
      <td>Codigo</td><td>Descripcion</td><td>Precio</td>
    </tr>
    <tr *ngFor="let art of states">
      <td>{{art.Trip_Id}}</td>
      <td>{{art.descripcion}}</td>
      <td>{{art.precio}}</td>
    </tr>
  </table>
  <table border="1">
    <tr>
      <td>Codigo</td><td>Descripcion</td><td>Precio</td>
    </tr>
    <tr *ngFor="let art of lines">
      <td>{{art.Route_Id}}</td>
      <td>{{art.Direction_ID}}</td>
      <td>{{art.direction_Description}}</td>
    </tr>
  </table>-->


<ng-template #espera>Esperando datos...</ng-template>